<div class="background-image">     
    <div class="row align-items-center" style="height:80%">
        <div class="card border-light offset-lg-2 col-lg-8 card-wrapper" >
                <div class="card-body text-center">
                    <h1 class="card-title h1">ヒロゲウタとは</h5>
                    <p class="card-text h3">自分の好きな歌や曲をシェアできるサービスです！</p>
                    <hr class="my-4">
                    <p>「アーティスト名」、「曲名」、「Youtube url」、「曲紹介」の4つの項目で簡単にシェアできます</p>
                    <%= link_to "シェアする", new_micropost_path, class: "btn btn-primary btn-lg" %>
                </div>
                <div class="card-body text-center">
                    <hr class="my-2">
                    <p>無料で登録しよう！</p>
                    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-success" %>
                </div>
        </div>  
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 mt-3">
      <h2 class="title-uses text-center">主な使い方</h1>
    </div>
    <div class="col-md-8 offset-md-2 mt-3">
      <h3 class="title-uses-1">A 自分の好きな音楽をシェアする</h3>
    </div>
    <div class="col-md-8 offset-md-2 mt-1">
      <p class="pl-2">自分のお気に入りの歌や音楽を、みんなと教え合いましょう</p>
      <p class="pl-2">「アーティスト名」、「曲名」、「Youtube url」、「曲紹介」の4つの項目を入力するだけでいとも簡単に音楽がシェアできます</p>
    </div>
    <div class="col-md-8 offset-md-2 mt-1">
      <h6 class="explanation"><i class="fas fa-arrow-alt-circle-right mr-2 "></i>好きな音楽の「アーティスト名」、「曲名」、「Youtube url」、「曲紹介」の入力をする</h6>
    </div>
    <div class="row col-md-8 offset-md-2 mt-1">
      <div class="col-md-6">
        <p>(1)youtubeのシェアしたい動画のページへいき<br>共有ボタン→コピーをクリック</p>
        <%= image_tag 'explanation-2.png', class:"explanation-photo" %>
        <%= image_tag 'explanation-3.jpeg', class:"explanation-photo"  %>
      </div>
      <div class="col-md-6">
        <p>(2)ヒロゲウタのページのシェアするをクリック</p>
        <%= image_tag 'explanation-1.jpeg', class:"explanation-photo"  %>
      </div>
      <div class="col-md-6">
        <p>(3)必要項目入力を入力し、シェアするをクリック</p>
        <%= image_tag 'explanation-4.png', class:"explanation-photo"  %>
      </div>
    </div>
  </div>
</div>