<nav class="navbar navbar-expand-lg navbar-light bg-dark nav-fill sticky-top header-wrapper">
  <%# ロゴ部分 %>
  <div class="nav-item">
    <%= link_to image_tag("3.png", alt: "Hirogeuta logo",  width: "120px"),
                      root_path %>

  </div>
  <%# メニュー格納時のボタン %>
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%# メニュー %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%= search_form_for @q ,class: "nav-item form-inline mb-2 mb-lg-0" do |f|  %>
      <%= f.search_field :artist_or_song_or_content_or_user_name_cont, class: "form-control", placeholder: "検索" %>
    <% end %>

    <ul class="nav navbar-nav navbar-right">
      <li class="btn btn-success border-white"><%= link_to "ヒロゲウタについて", about_path , style: "color:white; text-decoration: none;" %></li>
      <% if logged_in? %>
      <div class="dropdown show">
        <a href="#" class="dropdown-toggle btn btn-dark border-white ml-3" data-toggle="dropdown">
          アカウント <b class="caret"></b>
        </a>
        <div class="dropdown-menu">
          <li class="dropdown-item"><%= link_to "プロフィール", current_user %></li>
          <li class="dropdown-item"><%= link_to "編集", edit_user_path(current_user) %></li>
          <hr>
          <li class="dropdown-item">
            <%= link_to "Log out", logout_path, method: :delete %>
          </li>
        </div>
      </div>
      <% else %>
      <li class=" btn btn-dark border-white ml-3"><%= link_to "ログイン", login_path, style: "color:white; text-decoration: none;" %></li>
      <% end %>
    </ul>
  </div>
</nav>